DIV.bft-event-message{
	text-align: center;
	font-weight: bold;
}

DIV.bft-event-tickets{
	width: 100%;
	display: table;
}

DIV.bft-event-tickets .bft-et-head{
	display: table-header-group;
	font-weight: bold;
}

DIV.bft-event-tickets .bft-et-body{
	display: table-row-group;
}

DIV.bft-event-tickets .bft-et-foot{
	display: table-footer-group;
}

DIV.bft-event-tickets .bft-et-tr{
	display: table-row;
}

DIV.bft-event-tickets .bft-et-td{
	display: table-cell;
	vertical-align: middle;
	padding: 5px;
	margin: 0px;
}

DIV.bft-event-tickets .prod-total p{
	margin: 0px;
	padding: 0px;
}

DIV.bft-event-tickets p{
	display: none;
	margin: 0px;
}

DIV.bft-event-tickets p.bft-p-after{
	display: block;
	width: 100%;
}

DIV.bft-event-tickets p.bft-p-bold{
	font-weight: bold;
}

DIV.bft-event-tickets p.prod-title-slug{
	display: block;
	font-size: 0.8em;
}

DIV.bft-event-tickets .bft-et-head .prod-thumb{
	width: 60px;
	min-width: 60px;
}

DIV.bft-event-tickets .bft-et-head .prod-title{
	
}

DIV.bft-event-tickets .bft-et-head .prod-qty{
	width: 70px;
	min-width: 70px;
}


.prod-qty input[type="number"]{
	width: 70px;
}

DIV.bft-event-tickets .bft-et-head .prod-price{
	width: 80px;
	min-width: 80px;
}

DIV.bft-event-tickets .bft-et-head .prod-total{
	width: 80px;
	min-width: 80px;
}

DIV.bft-event-tickets .bft-et-head .prod-cart{
	width: 160px;
	min-width: 160px;
}

DIV.bft-event-tickets .bft-et-body .prod-cart button{
	padding: 5px;
}

DIV.bft-event-tickets .bft-et-body .prod-cart .single_add_to_cart_button{
	font-weight: 400;
	line-height: 1;
}
@media screen and (max-width: 768px) {
	DIV.bft-event-tickets .bft-et-body .prod-cart .single_add_to_cart_button{
		height: 48px;
	}
}

DIV.bft-event-tickets .bft-et-body .prod-cart .single_add_to_cart_button:hover{
	opacity: 0.7;
	filter: alpha(opacity=70); /* msie */
}

.woocommerce-message {
	
}

.woocommerce-message .button {
	float: right;
}

@media screen and (max-width: 480px){
	DIV.bft-event-tickets{
		width: 100%;
		display: block;
	}

	DIV.bft-event-tickets .bft-et-head, DIV.bft-event-tickets .bft-et-foot {
		display: none;
	}
	
	DIV.bft-event-tickets .bft-et-td {
		display: block;
		margin-bottom: 10px;
	}

	DIV.bft-event-tickets p{
		display: block;
	}

	DIV.bft-event-tickets .bft-et-body .prod-cart button{
		padding: 1em 2em;
	}
}

table.tab-events{
	width: 100%
}

table.tab-events thead{
	font-weight: bold;
}

table.tab-events td:nth-child(2), table.tab-events td:nth-child(3), table.tab-events td button, table.tab-events input[type="submit"] {
	width: 100px;
}